
<!-- <app-navbar></app-navbar> -->

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt20">
                <div class="container text-center">
                    <img src="../../../assets/Logo.png" alt="" height="170" width="170"/>

                </div>
                <h1 class="text-center">Register here</h1>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input required="" [(ngModel)]="user.username" name="username"
                         matInput placeholder="Placeholder">
                         <mat-hint>username must be uniqe!!</mat-hint>
                      </mat-form-field>
                      <!-- Password -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label> User Password</mat-label>
                        <input required="" [(ngModel)]="user.password" name="password"
                         type="password" matInput placeholder="Placeholder">
                      </mat-form-field>
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required="" [(ngModel)]="user.firstName" name="firstName"
                        matInput placeholder="Placeholder">
                      </mat-form-field>
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required="" [(ngModel)]="user.lastName" name="lastName"
                         matInput placeholder="Placeholder">
                      </mat-form-field>
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input required="" [(ngModel)]="user.email" name="email"
                        type="email" matInput placeholder="Placeholder">
                      </mat-form-field>
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input required="" [(ngModel)]="user.phone" name="phone"
                        matInput placeholder="Placeholder">
                      </mat-form-field>

                      <div class="container text-center">
                          <button type="submit" mat-raised-button color="primary">Register</button>

                          <button style="margin-left:20px ;" mat-raised-button color="accent">Clear</button>

                      </div>



                </form>
            </mat-card>
            </div>

        </div>

    </div>

</div>
