<div class="main-container">
    <img src="/assets/banner.jpg" class="banner-img">
    <div class="text-block">
      <p class="banner-title">Welcome</p>
      <p class="banner-subtitle"><b>DXC Technology</b> Online Quiz</p>
    </div>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center mt50">
                    <img class = "features" src="/assets/quiz.png">
                    <h1>Create</h1>
                    <p>Quickly create greate looking tests using multiple type questions.</p>
                </div>
                <div class="col-md-4 text-center mt50">
                    <img class = "features" src="/assets/publish.png">
                    <h1>Publish</h1>
                    <p>Test can easily publish for everyone.</p>
                </div>
                <div class="col-md-4 text-center mt50">
                    <img class = "features" src="/assets/analyze.png">
                    <h1>Analyze</h1>
                    <p>You can instantly get your marks after quiz and you can download result as pdf.</p>
                </div>
            </div>
            <h1 class="text-center mt50">Why Choose <b>Online Quiz</b></h1><hr>
            <div class="row mt50">
                <div class="col-md-3 text-center mb50">
                    <i class="fa fa-square-poll-vertical choose-icon"></i>
                    <h2>Auto Result</h2>
                </div>
                <div class="col-md-3 text-center mb50">
                    <i class="fa fa-file choose-icon"></i>
                    <h2>PDF Reports</h2>
                </div>
                <div class="col-md-3 text-center mb50">
                    <i class="fa fa-stopwatch choose-icon"></i>
                    <h2>Timed Test</h2>
                </div>
                <div class="col-md-3 text-center mb50">
                    <i class="fa fa-list choose-icon"></i>
                    <h2>Multiple Question Types</h2>
                </div>
            </div>
        </div>
    </div>
</div>